In [2]:
import pandas as pd
df = pd.read_csv('aspect_AAjN_emotion.csv',sep=',')

In [3]:
df = df.drop(['Unnamed: 0'],axis=1)
df

                            aspects  frequency emotions
0             sometimes review list          1      NaN
1            pathetically dumb fool          1      NaN
2                      first wa kid          1    Happy
3                   yet lovely book          1    Happy
4         masterly serious instance          1      NaN
...                             ...        ...      ...
19460            almost high school          1     Fear
19461   incredibly versatile artist          1     Fear
19462         absolutely prime year          1     Fear
19463   truly legendary performance          1      NaN
19464  wherewithal watchable length          1      NaN

[19465 rows x 3 columns]

In [37]:
aspects = df['aspects'].str.get_dummies(' ')

In [38]:
aspects

,aamir,aaron,aazmi,ab,aback,abandon,abbott,abbreviation,abc,abductee,...,zoe,zombie,zone,zoom,zucco,zuckers,zweig,zwigoff,zzzzzzzzzz,étranger
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19460,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19461,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19462,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19463,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19464,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [40]:
frequency = pd.get_dummies(df['frequency'])

In [5]:
emotions = pd.get_dummies(df['emotions'])

In [6]:
emotions

       Angry  Fear  Happy  Sad  Surprise
0          0     0      0    0         0
1          0     0      0    0         0
2          0     0      1    0         0
3          0     0      1    0         0
4          0     0      0    0         0
...      ...   ...    ...  ...       ...
19460      0     1      0    0         0
19461      0     1      0    0         0
19462      0     1      0    0         0
19463      0     0      0    0         0
19464      0     0      0    0         0

[19465 rows x 5 columns]

In [44]:
df_new = pd.concat([aspects,frequency,emotions],axis=1)

In [45]:
df_new

,aamir,aaron,aazmi,ab,aback,abandon,abbott,abbreviation,abc,abductee,...,4,5,6,8,9,Angry,Fear,Happy,Sad,Surprise
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19460,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
19461,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
19462,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
19463,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19464,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
X = df.iloc[:,0]
y = emotions

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.neighbors import KNeighborsClassifier
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.05, random_state = 1)
vect = CountVectorizer()
vect.fit(X_train)
X_train = vect.transform(X_train)
X_test = vect.transform(X_test)

In [ ]:
X = vect.fit_transform(X)

In [12]:
#using Sklearn library
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
k_range = range(1, 51)

# We can create Python dictionary using [] or dict()
scores = []

# We use a loop through the range 1 to 21
# We append the scores in the dictionary
for k in k_range:
    knn = KNeighborsClassifier(n_neighbors=k, p=1, metric = 'euclidean')
    knn.fit(X_train, y_train)
    y_pred = knn.predict(X_test)
    scores.append(metrics.accuracy_score(y_test, y_pred))

print(scores)

[0.5594657076804521, 0.5676855895196506, 0.6272797328538402, 0.5779604418186488, 0.6175186231697919, 0.5795016696634986, 0.6144361674800924, 0.5836116105830979, 0.611353711790393, 0.5797585409709736, 0.6059594143334189, 0.5797585409709736, 0.6044181864885693, 0.5810428975083484, 0.5959414333418958, 0.5795016696634986, 0.5964551759568456, 0.5810428975083484, 0.5928589776521962, 0.5779604418186488, 0.5933727202671462, 0.5802722835859234, 0.594400205497046, 0.582327254045723, 0.5928589776521962, 0.5818135114307732, 0.5900333932699717, 0.5815566401232982, 0.5910608784998715, 0.576932956588749, 0.5879784228101721, 0.5756486000513743, 0.5872078088877473, 0.5753917287438993, 0.5848959671204726, 0.5761623426663242, 0.5820703827382482, 0.5738505008990495, 0.5812997688158232, 0.5748779861289494, 0.5818135114307732, 0.5759054713588492, 0.582327254045723, 0.5735936295915747, 0.5784741844335988, 0.5705111739018751, 0.5753917287438993, 0.5692268173645004, 0.5759054713588492, 0.5684562034420755]

In [17]:
from sklearn.model_selection import GridSearchCV

from sklearn.neighbors import KNeighborsClassifier

k_range = list(range(1,100))
weight_options = ["uniform", "distance"]

param_grid = dict(n_neighbors = k_range, weights = weight_options)


knn = KNeighborsClassifier()

grid = GridSearchCV(knn, param_grid, cv = 10, scoring = 'accuracy')
grid.fit(X_train,y_train)

print (grid.best_score_)
print (grid.best_params_)
print (grid.best_estimator_)

0.6383107596509436
{'n_neighbors': 5, 'weights': 'uniform'}
KNeighborsClassifier()